<div class="bg-cover flex items-center justify-center !h-screen" [ngStyle]="{ 'background-image': 'url(assets/background-login.png)'}">
  <div class="flex h-[400px] rounded-[8px] shadow-login w-fit bg-white relative">
      <div class="w-[250px] px-[25px] pt-[70px]">
          <h5 class="text-[18px] font-medium mb-[8px]">
              Log in to <br>
              your account
          </h5>
          <form method="post">
              <div>
                <div class="input mb-[12px]">
                  <micro-fe-test-input-text
                    [label]="'Email Address'"
                    [placeHolder]="'e.g., example@email.com'"
                  ></micro-fe-test-input-text>
                </div>
                <div class="input">
                  <micro-fe-test-input-text
                    [label]="'Password'"
                    [placeHolder]="'e.g., 123456'"
                  ></micro-fe-test-input-text>
                </div>
              </div>
              <button type="submit" class="text-white bg-[#F9B619] min-w-[200px] h-[40px] rounded-[4px] absolute bottom-[20px]">Log in</button>
            </form>
      </div>
      <div class="relative overflow-hidden">
          <img class="" src="assets/right-login.png" alt="Right background">
          <div class="absolute text-white left-[40px] right-[40px] top-[50%] -translate-y-[50%]">
            <img class="mb-[15px]" src="assets/logo.png" alt="GauVendi logo">
            <p class="mb-[16px] text-[13px] font-medium">Retail System for Hotels</p>
            <hr class="my-[20px]">
            <p class="text-[24px] font-medium mb-[5px]">Connecting Today Travelers</p>
            <p class="text-[24px] font-medium mb-[5px]">With Hotel Features And</p>
            <p class="text-[24px] font-medium mb-[5px]">Experiences</p>
          </div>
        </div>
  </div>
</div>